<article fxFlex fxLayout="column" class="main-article">
  <br/>
  <br/>
  <br/>
  <br/>

  <p class="article-lead text-center">每个人都是天才，</p>
  <p class="article-lead text-center">就看你能不能好好的计划一下你自己的生活工作，</p>
  <p class="article-lead text-center">以及规划一下你的未来。</p>

  <p class="article-lead text-center">如果你的计划足够好，你也可以分享你的计划。</p>
  <p class="article-lead text-center">让小伙伴们为你喝彩！</p>
  <br/>
  <br/>

  <p class="article-lead text-center">做起来，属于你自己的精彩！</p>

  <p class="article-lead text-center">现在就做起来，马上！</p>
  <li class="nav-divider"></li>
  <!--<p class="text-danger text-large text-center">结绳记事 执行力系统，你的好朋友，你的好伙伴！</p>-->
</article>

<!--<button (click)="test()" mat-button="">Action</button>-->
