<mat-toolbar class="title" *ngIf="task">
  <a class="taskTitle truncate" routerLink="/tasks/edit" [queryParams]="{taskId:task.id}" fxFlex>
    {{task.title}}
  </a>

  <button mat-icon-button [matMenuTriggerFor]="taskActionMenu">
    <mat-icon>build</mat-icon>
  </button>
  <mat-menu #taskActionMenu="matMenu" xPosition="before">
    <button type="button" mat-menu-item (click)="top()" *ngIf="isManager$|async">
      <mat-icon>vertical_align_top</mat-icon>
      <span translate="COMMON.TO_TOP"></span>
    </button>
    <button type="button" mat-menu-item [matTooltip]="'TOOLTIP.INVITE_MENU'|translate" routerLink="/tasks/batch" *ngIf="isManager$|async">
      <mat-icon>person_add</mat-icon>
      <span translate="BUTTON.INVITE"></span>
    </button>
    <button type="button" mat-menu-item (click)="notice()" *ngIf="isManager$|async">
      <mat-icon>alarm</mat-icon>
      <span translate="BUTTON.NOTICE-AGAIN"></span>
    </button>
    <button type="button" mat-menu-item (click)="copy()" *ngIf="isManager$|async">
      <mat-icon>content_copy</mat-icon>
      <span translate="BUTTON.COPY-TASK"></span>
    </button>
    <button type="button" mat-menu-item routerLink="/tasks/edit" [queryParams]="{taskId:task.id}" *ngIf="isManager$|async">
      <mat-icon>mode_edit</mat-icon>
      <span translate="BUTTON.EDIT-TASK"></span>
    </button>
    <button type="button" mat-menu-item (click)="move()" *ngIf="isManager$|async">
      <mat-icon>swap_horiz</mat-icon>
      <span translate="BUTTON.MOVE-TASK"></span>
    </button>
    <button type="button" mat-menu-item (click)="done()" *ngIf="isManager$|async">
      <mat-icon>done</mat-icon>
      <span translate="BUTTON.DONE-TASK"></span>
    </button>
    <button type="button" mat-menu-item (click)="updateNickname()">
      <mat-icon>account_box</mat-icon>
      <span translate="BUTTON.UPDATE-NICKNAME"></span>
    </button>
    <a mat-menu-item [href]="task|shareTimelineUrl|async">
      <mat-icon>share</mat-icon>
      <span translate="COMMON.SHARE"></span>
    </a>
    <a mat-menu-item [href]="(task|shareTimelineUrl:'TaskClock')|async" *ngIf="isShowShareTaskClock$|async">
      <mat-icon>screen_share</mat-icon>
      <span>分享(打卡)</span>
    </a>
    <button type="button" mat-menu-item (click)="createTaskComplain()">
      <mat-icon>thumb_down</mat-icon>
      <span>投诉</span>
    </button>
    <button type="button" mat-menu-item (click)="quit()">
      <mat-icon>clear</mat-icon>
      <span translate="BUTTON.QUIT-TASK"></span>
    </button>
  </mat-menu>
</mat-toolbar>

<div fxFlex style="overflow-y: auto;" *ngIf="task">
  <table class="formGroup">
    <tr>
      <td class="lable">{{'TASK.CREATOR'|translate}}</td>
      <td>
        {{task.charger|operatorNickname:task|async}}
        {{task.createDateTime|date:'yyyy-MM-dd HH:mm'}}
      </td>
    </tr>
    <tr>
      <td>{{'TASK.PARTICIPANT'|translate}}</td>
      <td>
        <button type="button" color="primary" mat-button (click)="showParticipants(task,$event)">
          参与({{task.participants&&task.participants.length}})
        </button>
        <button type="button" color="primary" (click)="showFollowers(task,$event)" mat-button>
          管理({{task.followers&&task.followers.length}})
        </button>
        <button (click)="addOperators($event)" mat-icon-button *ngIf="isManager$|async">
          <mat-icon>person_add</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <div class="pre-content" *ngIf="isShowViewMore$|async">
    <jwjh-editor-view [content]="task.content"></jwjh-editor-view>
    <jwjh-file-list [files]="task.attachments"></jwjh-file-list>
  </div>
  <div *ngIf="isShowViewMore$|async">
    <button mat-button (click)="viewMore()" style="color: darkgrey;">展开</button>
  </div>

  <br/>
  <mat-tab-group class="h40" dynamicHeight [selectedIndex]="rightTabIndex$|async" (focusChange)="focusChange($event)">
    <mat-tab label="{{'COMMON.CONTENT'|translate}}/{{'COMMON.ATTACHMENT'|translate}}({{task?.attachmentsCount}})">
      <jwjh-editor-view [content]="task.content"></jwjh-editor-view>
      <jwjh-file-list [files]="task.attachments"></jwjh-file-list>
    </mat-tab>

    <mat-tab label="{{'TASK.FEEDBACK'|translate}}({{task?.taskFeedbacks?.length}})">
      <div fxLayout="row">
        <button mat-button color="primary" (click)="updateTaskFeedback()">
          {{'BUTTON.TASKFEEDBACK'|translate}}
        </button>
        <button mat-button color="primary" [matMenuTriggerFor]="taskFeedbackCircsMenu">
          {{'BUTTON.TASKFEEDBACK_CIRCS'|translate}}
        </button>
        <mat-menu #taskFeedbackCircsMenu="matMenu">
          <button type="button" mat-menu-item (click)="showUnFeedbackers()">
            {{'BUTTON.SHOWUNFEEDBACKERS'|translate}}
          </button>
          <button type="button" mat-menu-item (click)="feedbackFilterNoComment()">
            {{'BUTTON.FEEDBACKFILTERNOCOMMENT'|translate}}
          </button>
        </mat-menu>

        <input fxFlex [formControl]="feedbackFilterNameQCtrl" [placeholder]="'TOOLTIP.NAMEQ'|translate">
      </div>
      <jwjh-task-feedback-list [task]="task"
                               [taskFeedbacks]="taskFeedbacks$|async"
                               (onDelete)="deleteTaskFeedback($event)"
                               (onComment)="updateTaskFeedbackComment($event)"
                               (onDeleteComment)="deleteTaskFeedbackComment($event.taskFeedback,$event.taskFeedbackComment)">
      </jwjh-task-feedback-list>
    </mat-tab>

    <mat-tab label="{{'TASK.EVALUATE'|translate}}({{task?.taskEvaluates?.length}})">
      <div fxLayout="row" *ngIf="task.evaluateTemplate">
        <button mat-button color="primary" (click)="updateTaskEvaluate()">
          {{'BUTTON.TASKEVALUATE'|translate}}
        </button>
        <button mat-button color="primary" (click)="showUnEvaluaters()">
          {{'BUTTON.UNTASKEVALUATE'|translate}}
        </button>

        <input fxFlex [formControl]="evaluateFilterNameQCtrl" [placeholder]="'TOOLTIP.NAMEQ'|translate">
      </div>
      <jwjh-task-evaluate-list [task]="task"
                               [taskEvaluates]="taskEvaluates$|async">
      </jwjh-task-evaluate-list>
    </mat-tab>
  </mat-tab-group>
</div>
