<mat-toolbar class="title">
  <div fxFlex class="task-group-title" [matMenuTriggerFor]="taskGroupsMenu">
    {{(taskGroup$|async)?.name}}
    <button mat-icon-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #taskGroupsMenu="matMenu" class="search-menu">
      <div class="mat-menu-item search-header" (click)="$event.stopPropagation()">
        <input (keyup)="onTaskGroupFilterNameQ.next($event.target.value)" placeholder="{{'COMMON.SEARCH'|translate}}">
      </div>
      <button mat-menu-item *ngFor="let it of taskGroups$|async" (click)="selectTaskGroup(it)">{{it?.name}}</button>
    </mat-menu>
  </div>

  <button class="close" mat-mini-fab matDialogClose>
    <mat-icon>close</mat-icon>
  </button>

  <mat-menu #taskGroupsActionMenu="matMenu" xPosition="before">
    <button mat-menu-item>{{'BUTTON.COPY_TASK_FROM_CURRENT'|translate}}</button>
    <button mat-menu-item routerLink="/tasks/edit">{{'NAV.TASK-CREATE'|translate}}</button>
  </mat-menu>
</mat-toolbar>

<mat-nav-list fxFlex style="overflow-y: auto">
  <mat-list-item *ngFor="let it of (tasks$|async)">
    <h3 matLine>
      {{it.title}}
    </h3>
    <button type="button" mat-button color="primary" (click)="showOperators(it,$event)">
      {{'查看人员'|translate}}
    </button>
    <button type="button" mat-button color="primary" (click)="importOperators(it,$event)">
      {{'引入人员'|translate}}
    </button>
  </mat-list-item>
</mat-nav-list>
